@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" content="text/html" />
    <meta name="keywords" content="KiraNet.GutsMvc for BBS" />
    <meta name="author" content="KiraYoshikage">
    <title>GutsBBS - @(ViewData["Title"] ?? "分享你的点滴")</title>
    <link rel="stylesheet" href="../../wwwroot/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../wwwroot/bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../../wwwroot/bower_components/site/navsite.css" />
    <link rel="stylesheet" href="../../wwwroot/bower_components/site/service.css" />
    <link rel="stylesheet" href="../../wwwroot/bower_components/site/site.css" />
    <script src="../../wwwroot/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../wwwroot/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top selfnav">
        <div class="container">
            <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
            <div class="navbar-header" style="margin-left: 5%;">
                <a href="http://localhost:17758/home/index" class="navbar-brand">GutsBBS</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-text">
                    <li class="text-center"><span style="font-family:'MS Outlook'; font-style:italic; color:lightcoral;">两个囚犯站在铁窗前向外眺望，一个看着泥土，一个仰望星辰。 &nbsp;&nbsp; ———&nbsp;《不灭之诗》</span></li>
                </ul>
                <ul id="ul_login" class="nav navbar-nav navbar-right">
                    <li class="loginli"><a href="/member/login">Sign in</a></li>
                    <li class="loginli"><a href="/member/register">Sign up </a></li>
                </ul>
            </div>
        </div>
    </nav>


    <div id="wrapper" class="col-lg-12 col-md-12">
        <div class="overlay"></div>
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#"></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-windows"></i> DotNet技术 <span class="caret"></span></a>
                    <ul id="bbslist1" class="dropdown-menu" role="menu">
                        <!--<li><a href="#">#</a></li>-->
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-database"></i> 数据库技术 <span class="caret"></span></a>
                    <ul id="bbslist2" class="dropdown-menu" role="menu"></ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-skyatlas"></i> 云计算 <span class="caret"></span></a>
                    <ul id="bbslist3" class="dropdown-menu" role="menu"></ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-wifi"></i> 计算机网络 <span class="caret"></span></a>
                    <ul id="bbslist4" class="dropdown-menu" role="menu"></ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-html5"></i> Web前端 <span class="caret"></span></a>
                    <ul id="bbslist5" class="dropdown-menu" role="menu"></ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-apple"></i> iOS开发 <span class="caret"></span></a>
                    <ul id="bbslist6" class="dropdown-menu" role="menu"></ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-android"></i> Android开发 <span class="caret"></span></a>
                    <ul id="bbslist7" class="dropdown-menu" role="menu"></ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-linux"></i> Linux运维 <span class="caret"></span></a>
                    <ul id="bbslist8" class="dropdown-menu" role="menu"></ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-github-alt"></i> IT人生 <span class="caret"></span></a>
                    <ul id="bbslist9" class="dropdown-menu" role="menu"></ul>
                </li>
            </ul>
        </nav>
        <div id="page-content-wrapper" style="padding-top:5%;">
            <div class="container" style="padding-right:0; padding-left:0;">
                <div class="row">
                    <div class="col-lg-12 col-md-12" style="padding-right:0; padding-left:0;">
                        @IncludeBody()
                    </div>
                    <!-- 客服部分 -->
                    <div style="right:-230px;" class="contactusdiyou">
                        <div class="hoverbtn">
                            <span>联</span><span>系</span><span>我</span><span>们</span>
                            <img class="hoverimg" src="../../wwwroot/images/hoverbtnbg.gif" height="9" width="13">
                        </div>
                        <div class="conter">
                            <div class="con1">
                                <dl class="fn_cle">
                                    <dt><img src="../../wwwroot/images/tel.png" height="31" width="31"></dt>
                                    <dd class="f1">咨询热线：</dd>
                                    <dd class="f2"><span class="ph_num">123-4567-1111</span></dd>
                                </dl>
                            </div>
                            <div class="blank0"></div>
                            <div class="qqcall">
                                <dl class="fn_cle">
                                    <dt><img src="../../wwwroot/images/zxkfqq.png" height="31" width="31"></dt>
                                    <dd class="f1 f_s14">在线客服：</dd>
                                    <dd class="f2 kefuQQ">
                                        <span>机器客服</span>
                                        <a target="_blank" href="/home/service"></a><br />
                                        <span>人工客服</span>
                                        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=997525106&amp;site=qq&amp;menu=yes"></a>
                                    </dd>
                                </dl>
                                <div class="blank0"></div>
                            </div>
                            <div class="blank0"></div>
                            <div class="weixincall">
                                <dl class="fn_cle">
                                    <dt><img src="../../wwwroot/images/weixin.png" height="31" width="31"></dt>
                                    <dd class="f1">官方微信站：</dd>
                                    <dd class="f3"><img src="../../wwwroot/images/wechat.png" height="73" width="73"></dd>
                                </dl>
                            </div>
                            <div class="blank0"></div>
                            <div class="con1">
                                <dl class="fn_cle">
                                    <dt><span class="fa fa-fw fa-2x fa-github"></span></dt>
                                    <dd class="f1">GitHub：</dd>
                                    <dd class="f2"><span class="ph_num"><a style="color:#fff;" href="https://github.com/zzq424/KiraNet.GutsMvc.BBS">Star</a></span></dd>
                                </dl>
                            </div>
                        </div>
                    </div>

                    <div class="diyoumask" style="height: 2000px;"></div>
                </div>
                <hr />
                <footer class="text-center">
                    <p>
                        <a href="/home/about" target="_blank">关于我们</a>
                        <a href="/home/contact" target="_blank">联系我们</a>
                        <a href="/home/service" target="_blank">在线客服</a>
                    </p>
                    <p>
                        &copy; 2017 - GutsMvcBBS &nbsp;&nbsp; 作者 - Kira Yoshikage
                    </p>
                </footer>
            </div>
        </div>
    </div>
    <script src="../../wwwroot/bower_components/site/site.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var trigger = $('.hamburger'),
                overlay = $('.overlay'),
                isClosed = false;

            trigger.click(function () {
                hamburger_cross();
            });

            function hamburger_cross() {

                if (isClosed == true) {
                    overlay.hide();
                    trigger.removeClass('is-open');
                    trigger.addClass('is-closed');
                    isClosed = false;
                } else {
                    overlay.show();
                    trigger.removeClass('is-closed');
                    trigger.addClass('is-open');
                    isClosed = true;
                }
            }

            $('[data-toggle="offcanvas"]').click(function () {
                $('#wrapper').toggleClass('toggled');
            });

            $(".contactusdiyou").hover(function () {
                $(".hoverimg").attr("src", "../../wwwroot/images/hoverbtnbg1.gif");
                $('.diyoumask').fadeIn();
                $('.contactusdiyou').animate({
                    right: '0'
                }, 300);
            }, function () {
                $(".hoverimg").attr("src", "../../wwwroot/images/hoverbtnbg.gif");
                $('.contactusdiyou').animate({
                    right: '-230px'
                }, 300, function () { });
                $('.diyoumask').fadeOut();
            });
        });
    </script>
</body>
</html>
