<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>404</title>
</head>
<body>
    <div style="position:absolute; left:25%; top:30%; vertical-align:text-top;">      
        <pre>
        <span style="font-size:20px; font-weight:200;">404.</span>抱歉! 您访问的资源不存在!
        请确认您输入的网址是否正确，如果问题持续存在，请发邮件至997525106@qq.com与我们联系。            
        <span style="font-size:small;"><a href="/home/index">返回网站首页</a></span>
        </pre>
    </div>
</body>
</html>
