@{
    ViewData["Title"] = "找回密码";
}
<h3><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> 找回密码</h3>
<form id="form_submit" name="form_submit" method="post">
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <label class="col-md-2 control-label">绑定邮箱</label>
            <div class="col-md-3">
                <input id="email" name="email" maxlength="50" placeholder="输入你账号绑定的邮箱" required="required" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <input type="button" value="确认发送邮件" name="btnSubmit" class="btn btn-default" />
                <span id="msgbox" style="color:red">@ViewData["msgbox"]</span>
            </div>
        </div>
    </div>
</form>
<br />
<div>
    <a href="/member/login">有账号去登录</a> | <a href="/member/register">没账号这里注册</a>
</div>
<script>
    $().ready(function () {
        $("#form_submit").validate({
            rules: {
                email: {
                    required: true,
                    minlength: 3,
                    maxlength: 50
                }
            },
            message: {
                email: {
                    required: "*.必填项",
                    minlength: "邮箱不能小于3个字符",
                    maxlength: "邮箱过长"
                }
            }
        });
    });
</script>
<script src="../../wwwroot/bower_components/jquery-validate/jquery.validate.min.js"></script>
<script src="../../wwwroot/bower_components/jquery-validate/messages_zh.js"></script>