
<div style="vertical-align: text-top; margin-top: 20%; margin-left: 40%;margin-bottom:20%;">
    <p style="color:red;">@ViewData["msgbox"]</p>
    <span style="font-size:small;"><a href="/home/index">返回网站首页</a></span>
</div>